* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@font-face {
  font-family: "Barlow";
  src: url("./fonts/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Fraunces 9pt";
  src: url("./fonts/fraunces-9pt-s000-regular.ttf");
}
