.collection{
  width: 100%;
  padding-top: 123px;
  background-image: url('../../imgs/collection-background.svg');
  background-position: 87px 125px;
  background-repeat: no-repeat;
}
.collection-cards {
  padding-left: 87px;
  padding-top: 126px;
  display: flex;
  column-gap: 30px;
  margin-bottom: 200px;
}
.collection-cards__card {
  display: flex;
  flex-direction: column;
}
.collection-cards__card-img {
  width: 256px;
  height: 193px;
}

.collection-cards__card-title {
  color: #333d4b;
  text-align: center;
  font-family: "Fraunces 9pt", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
  max-width: 255px;
  width: 100%;
  margin-top: 71px;
}

.collection-cards__card-subtitle {
  margin-top: 24px;
  color: #333d4b;
  text-align: center;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 255px;
  width: 100%;
}
