.details {
  margin-top: 100px;
  margin-bottom: 200px;
  padding-bottom: 200px;
  padding-top: 200px;
}

.details-main {
  width: 100%;
}
.details-main__header-title {
  color: #83888f;
  font-family: "Fraunces 9pt";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 32px;
}

.details-main {
  display: flex;
  flex-direction: column;
  padding-left: 87px;
}
.details-main__header {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  margin-bottom: 67px;
}
.details-main__header-path {
  width: 791px;
  height: 31px;
}
.details-cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.details-cards__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.details-cards__card-number {
  color: #fdd6ba;
  font-family: "Fraunces 9pt";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px;
  margin-bottom: 38px;
}
.details-cards__card-title {
  color: #333d4b;
  font-family: "Fraunces 9pt";
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
  max-width: 225px;
  width: 100%;
  margin-bottom: 42px;
}
.details-cards__card-subtitle {
  color: #333d4b;
  font-family: "Barlow";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  max-width: 285px;
  width: 100%;
}

.details-main__button {
  margin-top: 64px;
  width: 217px;
  height: 56px;
  border-radius: 6px;
  background: #0e8784;
  color: #fefcf7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fraunces 9pt";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px;
  border: 2px solid #0e8784;
  transition: all 0.4s linear;
}
.details-main__button:hover {
  border: 2px solid #0e8784;
  color: #0e8784;
  background-color: #ffff;
}
