footer {
  width: 100%;
  height: 120px;
  margin-bottom: 88px;
}

.footer-navbar {
  background: #2c343e;
  margin-bottom: 88px;
  height: 120px;
  display: flex;
  align-items: center;
  padding-left: 85px;
  padding-right: 85px;
  justify-content: space-between;
}
.footer-navbar__menu {
  display: flex;
  column-gap: 33px;
}
.footer-navbar__menu-item {
  color: #83888f;
  font-family: "Barlow";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
}
.footer-navbar__menu-link {
  text-decoration: none;
  outline: none;
  color: #83888f;
  font-family: "Barlow";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  transition: all 0.4s linear;
}
.footer-navbar__menu-link:hover {
  color: #0e8784;
}
.footer-navbar__socials {
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.footer-navbar__socials i {
  font-size: 22px;
  color: #fff;
  transition: all 0.4s linear;
}
.footer-navbar__socials i:hover{
  color: #0e8784;
}