.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 35px;
}

.navbar__logo {
  width: 235px;
  height: 25px;
}
.navbar__menu {
  display: flex;
  column-gap: 33px;
}

.navbar__menu-item__link {
  color: #83888f;
  font-family: 'Barlow';
  text-decoration: none;
  outline: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  padding-bottom: 5px;
  transition: all 0.4s linear;
}

.navbar__menu-item__link:hover{
  border-bottom: 2px solid #0e8784;
}